body{
    margin: 50px 0 50px 0;
    height: 100%;
    width: 100%;
}
#all-notes-container{
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 5px 5px 20px gray;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 30px;

}
#new-note-container{
    margin-top: 30px;;
    border: 2px solid black;
    border-radius: 16px;
    box-shadow: 5px 5px 20px gray;
    height: 100%;
}
.remove-note{
    text-align: end;
    padding: 5px;
    border-top: 1px solid black;
}
.note{
//    margin: 5px 5px;
}